# Modelling Modules
# ------------------------------------------------------------------------------
tensorflow==2.6.0

# Data Visulaization
# ------------------------------------------------------------------------------
trimesh==3.9.34